<!DOCTYPE html>
<body>
<h1> Chef</h1>
<P>
IP: <%= node['ipaddress'] %><br>
Hostname: <%= node['hostname'] %><br>
food = <%= @food %>

</P>

<h1>countries:</h1>
<% @countries.each do |country| %>
	<a href="/<%=country%>.html"><%=country%></a></br>
<% end %>


</body>
</html>

